<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="styles/main.css">
    <title>Weather Affirmation</title>
</head>
<body>
    <main>
    <section class="weather-container">  
         <% if(locals.currentWeather){ %>
            <div class="flex flex-col md:flex-row mb-4">
                <div class="weather-content">
                    <div class="flex items-center">
                        <div>
                            <img src="<%= currentWeather.current.condition.icon %>" alt="Weather Condition">
                        </div>
                        <div class="text-left">
                            <h2 class="text-3xl"> <%= currentWeather.location.name %></h2>
                            <p><%= currentWeather.location.country %> <%= currentWeather.location.localtime %></p>
                        <h2 class="text-2xl"> <%= currentWeather.current.condition.text %></h2>
                        </div>
                    </div>  
                </div>
                <div class="weather-content text-left">
                    <p>UV Index : <span><%= currentWeather.current.uv %></span></p>
                    <p>Wind Status : <span><%= currentWeather.current.wind_kph %> Kph</span></p>
                    <p>Wind Direction : <span><%= currentWeather.current.wind_dir %></span></p>
                    <p>Sunrise : <span><%= currentWeather.forecast.forecastday[0].astro.sunrise %></span></p>
                    <p>Sunset : <span><%= currentWeather.forecast.forecastday[0].astro.sunset %></span></p>

                </div>
                <div class="weather-content md:flex items-center text-center">
                    <h3 class="text-4xl"><%= currentWeather.current.temp_c %> C<sup>o</sup></h3>                
                </div>
            </div>
        <% } %>
        <form action="/submit" method="POST" class="flex flex-col gap-y-2">
            <h2 class="text-4xl">Weather Forcast in Your City</h2>
            <label for="weatherQuestion">Kindly provide your city's name</label>
            <input type="text" name="cityWeather" placeholder="City Name" class="box-input">
            <input type="submit" value="submit" class="rounded-full  bg-red-400 box-content submit-btn">
        </form>
    </section>
    <section class="affirm-container">
        <div class="flex flex-col-reverse items-center ">
            <span><i class="fa fa-android fa-3x"></i></span>
            <div>
              <strong><%= affirm %></strong>
            </div>
          </div>
    </section>
    </main>
</body>
</html>